<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
       <ul>
        
        <li v-for="(name,index) in names">
            {{ index }} : {{ name }} 
          </li>
       </ul>

       <ul>
        <li v-for="(car,index) in cars">
            {{ car.brand }} + {{ car.color }} : {{ index }}
        </li>
       </ul>

       <hr>

       <ul>
        <li v-for="(key,value,index) in user">
            {{ index }} - {{ key }} - {{ value }}
        </li>
       </ul>
     

    </div>
    
</body>
<script>
    const { createApp,ref } = Vue;
    createApp({
        setup() {
            const names = ref([
                'abc','123','%%%'
            ]);
            const cars = ref([
                {brand:'Ford',color:'red'},
                {brand:'Chevy',color:'Blue'},
                {brand:'Nissan',color:'Grey'}
            ])
            const user = {
                name: 'yun',
                lastname: 'shou',
                age: 22
            }
           
            return {
                names,cars,user
               
            }
          
            
        }
    }).mount('#app')
</script>
</html>